<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/api/add_user" method="post" role="form">
      <div class="box box-solid box-primary"style="margin-left: 10px; margin-right: 10px">
        <div class="box-header with-border">
          <h3 class="box-title">User </h3>
        </div>
        <br>
        <div class="box-tools " style="margin-left: 10px; margin-right: 10px">
          <label for="user_name">User Name</label>
          <input type="text" class="form-control" id="user_name" name="user_name"
                 placeholder="Enter User Name">
        </div>
        <br>
        <div class="box-tools " style="margin-left: 10px; margin-right: 10px">
          <label for="email">Email</label>
          <input type="email"  class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="box-tools " style="margin-left: 10px; margin-right: 10px">
          <label for="password">Password</label>
          <input type="password" maxlength="20" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <br>
        <div style="margin-left: 10px">
          <button type="submit" class="btn btn-primary"
                  style="width: 20%;margin-left: 40%;">Add
          </button>
        </div>
        <br>
      </div><!-- /.box-body -->


    </form>
  </body>
</html>
